.c-home{
    background: #F4F3F3;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.c-imagen{
    margin-top: 50px;
    background: url(../img/bannerContacto.jpg) no-repeat top center;
    background-size: 100%;
    height: 50vh;
    z-index: 99;
}
.c-tamanio{
    display: flex;
    align-items: center;
    height: 100%;
}

.textoCabecera{
    margin-top: -120px;
    display: flex;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}
.textoCabecera h1{
    color: white;
    font-size: 80px;
    font-weight: 900;
    line-height: 90px;
}

#contacto{
    width: 100%;
    height: 600px;
    margin-top: 100px;
    margin-bottom: 200px;
}
.contacto-tamanio{
    margin-left: 100px;
}
.contacto-texto{
    color: white;
    width: 800px;
}
.contacto-texto h2{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
}
.contacto-texto p{
    font-size: 24px;
    line-height: 40px;
}
#mapa{
    margin-right: 100px;
    margin-top: 50px;
    float: right;
}
.contacto{
    margin-top: 50px;
    width: 800px;
    height: 450px;
    border: 1px solid rgb(140, 140, 140);
    padding: 30px;
    border-radius: 15px;
}
.contacto:hover{
    transform: scale(103%);
    transition: ease-in 100ms;
    background-color: rgb(36, 36, 36);
    border: 2px solid white;
}
.c-columna1{
    float: left;
    width: 45%;
}
.c-columna2{
    margin-left: -50px;
    float: right;
    width: 45%;
}

.c-columna3{
    float: left;
    width: 90%;
}
.c-columna3 textarea{
    width: 705px;
    height: 90px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(133, 133, 133);
    background-color:transparent;
    font-size: 18px;
    color: white;
}
.c-columna3 textarea:hover{
    border-color: white;
}
.contacto input[type="text"]{
    color: white;
    width: 300px;
    height: 30px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(133, 133, 133);
    background-color:transparent;
    margin-bottom: 40px;
    font-size: 18px;
}
.contacto input[type="text"]:hover{
    border: 1px solid white;
}

::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 18px;
    color: white;
}


#productos{
    width: 100%;
    clear: both;
    display: flex;
}
.productos-img{
    width: 100%;
    height: 300px;
    background: url(../img/cabeceraEmpresa.jpg) no-repeat top center;
    background-size: 100%;
    filter: grayscale(100%);
}
.productos-img a{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    position: relative;
    top: 35%;
    font-size: 40px;
}
.productos-img:hover{
    filter: grayscale(0%);
    transition: ease-in-out 0.2s;
}